<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Our Stories</title>
<!--<link rel="stylesheet" href="http://www.helloweba.com/demo/css/main.css" />-->
<link rel="stylesheet" href="static/style.css" />
<style type="text/css">
h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
h2.top_title span{font-size:12px; color:#666;font-weight:500}
</style>
</head>

<body>
<!--<div id="header">-->
   <!--&lt;!&ndash;<div id="logo"><h1><a href="http://www.helloweba.com" title="返回helloweba首页">helloweba</a></h1></div>&ndash;&gt;-->
<!--</div>-->

<h2 class="top_title"><a href="">Ours Stories</a><br/><span></span></h2>

<section id="cd-timeline" class="cd-container">
	<!--<div class="cd-timeline-block">-->
		<!--<div class="cd-timeline-img cd-picture">-->
			<!--<img src="img/cd-icon-picture.svg" alt="Picture">-->
		<!--</div>-->

		<!--<div class="cd-timeline-content">-->
			<!--<h2>HTML5+CSS3实现的响应式垂直时间轴</h2>-->
			<!--<p>网页时间轴一般用于展示以时间为主线的事件，如企业网站常见的公司发展历程等。本文将给大家介绍一款基于HTML5和CSS3的漂亮的垂直时间轴，它可以响应页面布局，适用于HTML5开发的PC和移动手机WEB应用。</p>-->
			<!--<a href="http://www.helloweba.com/view-blog-285.html" class="cd-read-more" target="_blank">阅读全文</a>-->
			<!--<span class="cd-date">2015-01-06</span>-->
		<!--</div>-->
	<!--</div>-->
	{% for line in lines %}
    <div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="static/img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>{{line['title']}}</h2>
			<p>{{line['content']}}</p>
			<!--<a href="" class="cd-read-more" target="_blank">阅读全文</a>-->
			<span class="cd-date">{{line['date']}}</span>
		</div>
	</div>
	{% endfor %}
</section>

<div id="footer">
    <p>Powered by helloweba.com <a href="http://www.helloweba.com" target="_blank">www.helloweba.com</a></p>
</div>
</body>
</html>