<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Our Stories</title>
	 	<link rel="icon" href="static/favicon.ico" type="image/x-icon" />
	    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="static/style.css?_={{uuid}}" />
		<style type="text/css">
		h1.top_title{border-bottom:none;background:none;text-align:center;line-height:45px; font-size:32px}
		h1.top_title span{font-size:18px; color:#666;font-weight:800}
		</style>
	</head>

	<body>		
		<h1 class="top_title"><a href="../">Ours Stories</a><br/>
			<span>
				<p></p>		
			</span>
		</h1>

		<section id="cd-timeline" class="cd-container">
			<!--<div class="cd-timeline-block">-->
				<!--<div class="cd-timeline-img cd-picture">-->
					<!--<img src="img/cd-icon-picture.svg" alt="Picture">-->
				<!--</div>-->

				<!--<div class="cd-timeline-content">-->
					<!--<h2></h2>-->
					<!--<p></p>-->
					<!--<a href="" class="cd-read-more" target="_blank"></a>-->
					<!--<span class="cd-date">2015-01-06</span>-->
				<!--</div>-->
			<!--</div>-->
			{% for line in lines %}
		    <div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="static/img/{{line['img']}}.png?_={{uuid}}" alt="Picture">
				</div>

				<div class="cd-timeline-content">
					<h2>{{line['title']}}</h2>
					<p>{{line['content']}}</p>
					<!--<a href="" class="cd-read-more" target="_blank"></a>-->
					<span class="cd-date">{{line['date']}}</span>
				</div>
			</div>
			{% endfor %}
		</section>
		<div id="footer">
		</div>
	</body>
</html>